/* =============================================================================
  LAYOUT
============================================================================= */

.wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
}